#addpet {
	background-color: #ecfaf4;
	border:solid #49cc90 1px;
	border-radius: 5px;
}

#parameters, #responses {
	display: none;
}

/*
.post:hover ~ #parameters {
	display: block;
}

.post:hover ~ #responses {
	display: block;
}
*/

#parameters h4{
	padding:5px;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	height:40px;
	border-top: solid #49cc90 1px;
	border-bottom: solid #ddeae5 1px;
}

#responses h4{
	padding:5px;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	height:40px;
	border-top: solid #49cc90 1px;
	border-bottom: solid #ddeae5 1px;
}

/*
.post dt{
	background:#49cc90;
	margin-left:5px;
	border-radius: 3px;
}
*/

.rst-content dl:not(.docutils) {
	margin-bottom:0;
	border-top:solid #49cc90 1px;
}

/*
.rst-content dl dt{
	background:#49cc90;
	margin-left:5px;
	border-radius: 3px;
}
*/

.rst-content dl:not(.docutils) dt {
	background:#49cc90;
	margin-left:5px;
	margin-top:5px;
	border-radius: 3px;
	border-color:#49cc90;
	cursor:pointer;
}

.rst-content dl dd {
	margin-left:5px;
}

div h3 {
	margin:5px;
}

table.docutils:not(.field-list) tr:nth-child(2n-1) td {
	background-color: transparent;
}

table.docutils {
	/*border:none !important;*/
	/*background-color: transparent !important;*/
	margin-left:auto;
	margin-right:auto;
}

pre {
	background-color: #41444e;
	color:#ffffff;
	border-radius: 5px;
}