.container {
	background-color: #80bdff;
	margin-top: 30px;
	margin-right:20px;
	margin-left:20px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 5px;
}
.sidebar-container {
	float:right;
	background-color: #80bdff;
	margin-top: 30px;
	margin-right:20px;
	margin-left:20px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 5px;	
}
.media {
	background-color: white;
	margin-bottom: 20px;
	margin-left:30px;
	border-radius: 5px;
	width:1000px;
}
.summary-list {
	padding-top: 20px;
}
.blog {
	background-color: white;
	margin: 20px;
	margin-right:10px;
	padding:30px;
	border-radius: 5px;
}
.comment-list {
	background-color: white;
	margin: 20px;
	margin-bottom: 20px;
	padding:15px;
	border-radius: 5px;
}
.comment {
	margin: 5px;
	padding:15px;
	border-bottom: solid 1px gray;
}
.sidebar {
	float:right;
	background-color: white;
	margin: 20px;
	margin-bottom: 20px;
	padding:10px;
	border-radius: 5px;
}
.badge-list {
	margin:20px;
}
.form-label {
	float:left;
}
.form-input {

}
.pagination-simple {
	margin:30px;
	text-align: center;
}
textarea {
	width: 700px;
	height: 300px;
}
tr {
	height: 40px;
}
button {
	margin-top:20px;
}
