/*
.sidebar-container {
	display: none;
}
*/
/*
@media only screen and (max-width: 1200px) {
	.sidebar-container {
		display: none;
	}
}
@media screen and (max-width: 1000px) {
	.container {
		background-color: white;
	}
}
*/

/*
@media screen and (min-width: 1495px) {
	.sidebar-container {
		display: block;
	}
}
*/
body {
	background-color: #f4f4f4;
}
.container {
	float:right;
	background-color: #f4f4f4;
	margin-top: 1%;
	margin-left:3%;
	margin-right:0;
	/*padding:2%;*/
	padding-top:2%;
	padding-bottom:2%;
	padding-left:0;
	padding-right:1%;
	/*border-radius: 5px;*/
}
.sidebar-container {
	float:right;
	background-color: #f4f4f4;
	width:16%;
	margin-top: 1%;
	margin-right:3%;
	margin-left:0;
	padding-top: 1%;
	padding-bottom: 1%;
	border-radius: 5px;	
}
.sidebar:hover {
	box-shadow: 2px 2px 10px #848484;
}
.widget {
	margin:5%;
	padding:5%;
}
.widget-title {
	font-size:2vw;
}
.media {
	background-color: white;
	/*
	margin-bottom: 20px;
	margin-left:30px;
	margin-right:30px;
	*/
	margin:3%;
	/*border-radius: 5px;*/
	width: 95%;
}
.media:hover {
	box-shadow: 2px 2px 10px #848484;
}
.summary-list {
	/*
	padding: 3%;
	*/
	margin:1%;
	width: 96%;
	
}
.blog {
	background-color: white;
	width:100%;
	margin: 0 0 2% 2%;
	padding:5%;
	/*border-radius: 5px;*/
}
.comment-list {
	background-color: white;
	margin: 2%;
	padding:5%;
	/*border-radius: 5px;*/
}
.comment {
	margin: 2%;
	padding:3%;
	border-bottom: solid 1px gray;
}
.sidebar {
	background-color: white;
	width: 100%;
	margin: 7%;
	padding:4%;
	text-align: left;
	/*border-radius: 5px;*/
}
.badge-list {
	margin:5%;
	margin-left:0;
}
.register-form {
	background-color: white;
	margin: 5%;
	padding:5%;
	/*border-radius: 5px;*/
}
.login-form {
	background-color: white;
	margin: 5%;
	padding:5%;
	/*border-radius: 5px;*/
}
.form-label {
	float:left;
}
.form-input {

}
.pagination-simple {
	margin:30px;
	text-align: center;
}
.pagination {
	margin:20px;
}
.navbar {
	height: 47px;
}
.nav-link {

}
.nav-item {
	font-family:"Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
	font-weight:700;
	font-size:13px;
	font-width:50%;
}
.nav-user {
	margin-left:1%;
	margin-right:1%;
	color:white;
	font-weight:400;
}
.nav-profile {
	margin-left:20px;
	margin-right:20px;
	color:white;	
}
.image {
	margin: 2%;
}
.user-profile {
	background-color: white;
	margin: 2%;
	padding:3%;
	/*border-radius: 5px;*/
}
.post-title {
	color: #21759b;
}
.post-title:hover {
	color: #ff8000;
}
.more-link {
	color: #21759b;
}
.more-link:hover {
	color: #ff8000;
}
.sidebar-link {
	color: #21759b;
}
.sidebar-link:hover {
	color: #ff8000;
}
.my-page-link {
	color: #21759b;
}
.my-page-link:hover {
	color: #ff8000;
}
.carousel {
	margin-left:3%;
	margin-right:3%;
}
.carousel-item {
	overflow:hidden;
	width:747px;
	height:280px;
}
.form-control {
	height:30px;
}
.btn-outline-search {
	color:#ffe484;
	border-color:#ffe484;
	height:30px;
}
.post-detail-image {
	overflow:hidden;
	width:650px;
	height:200px;
}
#nav-left {
	transform:scale(.8,1);
}
#sidebar-author {
	color:#6c757d;
}
#post-head {
	color:#6c757d;
}
#post-image {
	float:left;
}
#post-content {
	float:left;
	margin-left:5%;
}
textarea {
	width: 94%;
	height: 300px;
}
tr {
	height: 40px;
}
button {
	margin-top:20px;
}
li {
	list-style: none;
}