{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
	
		<div class="blog col-lg-11">
			{% if post.published_date %}
				<p>published: {{ post.published_date }}</p>
			{% else %}
			<div>
				<a href="{% url 'post_publish' pk=post.pk %}">
					<input type="button" class="btn btn-primary" value="Publish"/>
				</a>
			</div>
			{% endif %}
			<span>{{ post.views }} view{{ post.views|pluralize }}</span>  
			<span>{{ post.comments.count }} comment{{ post.comments.count|pluralize }}</span>
			<img src="{% static 'post.img_link' %}" alt="images">
			<h1>{{ post.title }}</h1>
			<p>{{ post.text|safe|linebreaksbr }}</p>
			<div class = "badge-list">
				{% for tag in post.tags.all %}
					<a href="{% url 'tag_detail' pk=tag.pk%}" class="badge badge-pill badge-warning">{{ tag.name }} </a>
				{% endfor %}
			</div>
			{% if user.is_authenticated %}
				<a href="{% url 'post_edit' pk=post.pk %}">
					<input class="btn btn-primary" type="button" value="Edit"/>
				</a>
				<a href="{% url 'post_delete' pk=post.pk %}">
					<input class="btn btn-danger" type="button" value="Delete"/>
				</a>
			{% endif %}
			<a href="{% url 'add_comment' pk=post.pk %}">
				<input class="btn btn-primary" type="button" value="Comment"/>
			</a>
			<div>
				<a href="{% url 'previous_post' pk=post.pk%}">previous</a>
				<a href="{% url 'next_post' pk=post.pk%}">next</a>
			</div>
		</div>
		<div class="comment-list col-lg-11">
			{% for comment in post.comments.all %}
				{% if user.is_authenticated or comment.approved_comment %}
				<div class="comment">
					<p class="text-muted mb-2 f-12">
					{{ comment.author }} {{ comment.created_date }}
					{% if not comment.approved_comment %}
						<!--
						<a href="#">
							<input class="btn btn-outline-primary btn-sm"  type="button" value="Approve"/>
						</a>
						-->
						<a href="{% url 'remove_comment' pk=comment.pk %}">
							<input class="btn btn-outline-danger btn-sm" type="button" value="Remove"/>
						</a>
					{% endif %}						
					</p>
					<p>{{ comment.text|linebreaks }}</p>
				</div>
				{% endif %}
			{% empty %}
				<p>No comments here yet:(</p>
			{% endfor %}
		</div>
	
{% endblock %}