{% extends 'blog/base.html' %}
{% block content %}

	<div class="row">
		<div class="col-lg-12">
			{% if error_msg %}
				<p>{{ error_msg }}</p>
			{% endif %}
			<div class="summary-list">
				{% for post in posts %}
				<div class="media mb-1 mb-sm-2 p-2 p-lg-3">
					<div class="media-body">
							<div>
								<div class="text-muted mb-2 f-12">
									<span>{{ post.author }}</span>
									<span>
										{{ post.published_date }}
									</span>
									<span> comments: {{ post.comments.count }}</span>
									<span> views: {{ post.views }}</span>
								</div>
								<h2 class="mt-0 font-weight-bold text-info f-17">
									<a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
								</h2>
								<p class="d-block d-sm-none mb-2 f-15">{{ post.text|linebreaks|truncatechars:54 }}</p>
								<a href="{% url 'post_detail' pk=post.pk %}">More</a>
							</div>
					</div>
				</div>
				{% empty %}
					<p>No post currently!</p>
				{% endfor %}
				{% if is_paginated %}
				<div class="pagination-simple">
					{% if first %}
						<a href="?page=1">1</a>
					{% endif %}
					{% if left %}
						{% if left_has_more %}
							<span>...</span>
						{% endif %}
						{% for i in left %}
							<a href="?page={{ i }}">{{ i }}</a>
						{% endfor %}
					{% endif %}
					<a href="?page={{ page_obj.number }}" style="color: red">{{ page_obj.number }}</a>
					{% if right %}
						{% for i in right %}
							<a href="?page={{ i }}">{{ i }}</a>
						{% endfor %}					{% if right_has_more %}
							<span>...</span>
						{% endif %}
					{% endif %}
					{% if last %}
						<a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
					{% endif %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}