{% extends 'blog/base.html' %}
{% block content %}

	<div class="row">
		<div>
			{% if error_msg %}
				<p>{{ error_msg }}</p>
			{% endif %}
			<div class="summary-list">
				{% for post in posts %}
				<div class="media mb-1 mb-sm-2 p-2 p-lg-3">
					<div class="media-body">
							<div>
								<div class="text-muted mb-2 f-12">
									<span>{{ post.author }}</span>
									<span>
										{{ post.published_date }}
									</span>
									<span>{{ post.views }} view{{ post.views|pluralize }}</span>
									<span>{{ post.comments.count }} comment{{ post.comments.count|pluralize }}</span>
								</div>
								<h2 class="mt-0 font-weight-bold text-info f-17">
									<a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
								</h2>
								<p class="d-block d-sm-none mb-2 f-15">{{ post.text|linebreaks|truncatechars:54 }}</p>
								<a href="{% url 'post_detail' pk=post.pk %}">More</a>
							</div>
					</div>
				</div>
				{% empty %}
					<p>No post currently!</p>
				{% endfor %}
				{% if is_paginated %}
				<div class="text-xs-center">
					<ul class="pagination justify-content-center">
					    <!--<li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
					    <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
					    <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
					    <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
					    <li class="page-item"><a class="page-link" href="?page=4">4</a></li>
					    <li class="page-item"><a class="page-link" href="?page=5">5</a></li>
					    <!--<li class="page-item"><a class="page-link" href="#">Next</a></li>-->
					</ul>
				</div>
				<!--
				<nav aria-label="Page navigation example">
					<div>
						<ul class="pagination">
						{% if first %}
							<li class="page-item">
								<a class="page-link" href="?page=1">1</a>
							</li>
						{% endif %}
						{% if left %}
							{% if left_has_more %}
								<li class="page-item disabled">
									<a href="#">...</a>
								</li>
							{% endif %}
							{% for i in left %}
								<li class="page-item">
									<a class="page-link" href="?page={{ i }}">{{ i }}</a>
								</li>
							{% endfor %}
						{% endif %}
						<li class="page-item">
							<a href="?page={{ page_obj.number }}" style="color: red">{{ page_obj.number }}</a>
						</li>
						{% if right %}
							{% for i in right %}
								<li class="page-item">
									<a href="?page={{ i }}">{{ i }}</a>
								</li>
							{% endfor %}					
							{% if right_has_more %}
								<li class="page-item disabled">
									<a href="#">...</a>
								</li>							
							{% endif %}
						{% endif %}
						{% if last %}
							<li class="page-item">
								<a class="page-link" href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
							</li>
						{% endif %}
						</ul>
					</div>
				</nav>
			-->
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}