{% extends 'blog/base.html' %}
{% block content %}
	<div>
		<form method="POST">
			{% csrf_token %}
			<div>
				<label>title</label>
				<input type="text"/>
			</div>
			<div>
				<label>tags</label>
				<input type="checkbox"/>python
				<input type="checkbox"/>django
				<input type="checkbox"/>flask
			</div>
			<div>
				<label style = "float: left;">text</label>
				<textarea></textarea>
				<div style = "text-align: center;">
					<button class="btn btn-primary" type="submit">Save</button>
				</div>
			</div>
			
		</form> 
	</div>
{% endblock %}